/* FONT-SIZE */
body { font-size: 75% !important; }
.container { max-width: 768px !important; }
.container span.shine { height: 31px; width: 97.4%; }

/* BOX SIZING */
.player-nav { margin: 0 0 10px 0; }
.player-nav a { width: 50%; float: left; display: block; }
.player-nav span { padding: 12px 12.8% 15px; }
.player-nav span.home-village, .player-nav span.bb-home-village { display: block; margin-left: 40px; }
.player-nav span.builder-base, .player-nav span.bb-builder-base { display: block; margin-right: 40px; }
.nav a { padding: 14px 38px 8px; }
.clans-info { height: 245px; }
.clans-stats { padding: 0 5px 0 120px; }
.clans-badge { left: 20px; top: 20px; }
.clans-badge img { height: 80px; }
.clans-home-points, .clans-bb-points, .clans-required-home-trophies, .clans-required-bb-trophies { width: 95px; }
.clans-label { width: 39%; }
.clans-warwins, .clans-war-streak, .clans-members-total, .clans-show-type, .clans-country { width: 190px; }
.clans-points img, .clans-required-trophies img { height: 22px; }
.clans-bookmark img { height: 95px; }
.clans-desc { padding: 30px 60px 0 5px; }
.clans-bookmark { right: 10px; top: -6px; }
.clan-members { height: 60px; border-radius: 6px; padding: 3px 6px; font-size: 90% !important; }
.clan-player-rank { height: 100%; width: 63px; padding: 15px 5px; }
.clan-player-league { padding: 0 3px; height: 100%; }
.clan-player-league img { height: 45px; }
.clan-player-level { padding: 6px 5px; height: 100%; }
.clan-player-level-bg { width: 40px; height: 42px; padding: 8px 0; }
.clan-player-info { height: 100%; padding: 5px 5px; width: 240px; }
.clan-troops-donated { padding: 5px 5px 0 10px; }
.clan-troops-donated-total { border-radius: 5px; padding: 4px 0 3px; width: 65px; }
.clan-troops-recieved { padding: 5px 10px 0 5px; }
.clan-troops-recieved-total { border-radius: 5px; padding: 4px 0 3px; width: 65px; }
.clan-player-trophies-total { padding: 2px 54px 2px 20px; border-radius: 6px; width: 110px; }
.clan-player-trophies img { height: 35px; }

.player-level { height: 53px; width: 50px; }
.clan-info { margin-top: 5px; }
.clan-badge img { height: 53px; }
.share img { height: 40px; }
.league-icon img { max-width: 100px; min-width: 80px; max-height: 100px; min-height: 100px; }
.league-name { margin: 20px 0 0 54px; font-size: 90%; }
.league-trophy { font-size: 170%; }
.league-trophy img, .bb-league-trophy img { height: 27px; }
.league-stat-icon img { height: 40px; }
.league-stat-icon { margin-left: -43px; margin-top: -7px; }
.league-bg { padding: 0 0 0 30px; margin-left: 7px; margin-right: 0; margin-top: 8px; }
.league-stat { margin: 0 0 0 2px; }
.war-stars-won { width: 45%; margin-right: 10px; }
.league-stats { margin: 15px 0 0 0; }
.league-info { height: 200px; }
.player-info { height: 200px; }
.stats-info, .bb-stats-info { font-size: 90%; }
.stats-title { width: 15.2%; }
.stats-total { font-size: 100%; }
.town-hall { width: 14%; }
.troops { width: 80%; }
.spells { width: 80%; margin: 10px 0 0 0; }
.heroes { width: 80%; margin: 10px 0 0 127px; }
.bb-heroes { float: left !important; margin: 10px 0 0 0; }
.a-stars img { height: 45px; }
.a-status .progress { width: 140px; height: 22px; margin: 14px 5px; padding: 1px; }
.a-status span.shine { width: 136px; }
.a-status .progress span { width: 140px; font-size: 85%; }
.a-status-info img { height: 30px; margin-right: 5px; }
.a-list { height: 55px; padding: 3px; margin-bottom: 8px; }
.a-list span.shine { height: 24px; width: 100%; }
.a-desc { font-size: 85%; }
.a-status-info { font-size: 85%; }
.progress span.shine { height: 50% !important; width: 136px; }
.bb-league-icon img { height: 100px; }
.bb-league-name { margin: 27px 0 0 80px; }
.bb-clan-light { margin: 0 0 0 80px; }
.bb-league-trophy { margin: 0 0 0 80px; }
.bb-league-stat-icon img { height: 30px; }
.bb-league-stat-icon { margin-left: -52px; }
.bb-stats-title { }
.player-nav span.shine { width: 97.8%; height: 27px; }
.player-nav span img { height: 25px; }
